<template>
    <div class="nav-item">
        <a
                v-if="authenticated"
                href="/"
                @click.stop.prevent="logout"
                class="nav-link"
        >Sign out ({{ user.name }})</a>
        <a v-else href="/" @click.stop.prevent="login" class="nav-link">Login</a>
    </div>
</template>

<script>
    export default {
        created() {
            this.isAuthenticated();
        },
        data() {
            return {
                user: null,
                authenticated: false
            };
        },
        methods: {
            async isAuthenticated() {
                const authenticated = await this.$auth.isAuthenticated();
                if (authenticated) {
                    this.user = await this.$auth.getUser();
                } else {
                    this.user = null;
                }
                this.authenticated = authenticated;
            },
            login() {
                const currentPath = this.$router.history.current.path;
                this.$auth.loginRedirect(currentPath);
            },
            async logout() {
                await this.$auth.logout();
                await this.isAuthenticated();

                // Navigate back to home
                window.location.replace('/');
            }
        }
    };
</script>